body {
  text-align: center;
  height: 100vh;
  background-color: #353535;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  background-color: #353535;
  border-bottom: 2px solid #403f3f;
  /* margin-top: 0; */
  /* box-sizing: border-box; */
}

.nav__links-li {
  padding: 50px;
  display: inline;
}

.anchor {
  color: #d9c76d;
  text-decoration: none;
  font-size: 20px;
}

.anchor:hover {
  /* text-decoration: underline; */
  background-color: #414141;
}

.header__container {
  background-color: #403f3f;
  color: #d9c76d;
  font-size: 20px;
  padding: 10%;
  margin: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.about__container {
  background-color: #403f3f;
  color: #d9c76d;
  font-size: 20px;
  padding: 10%;
  margin: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.projects__container {
  background-color: #403f3f;
  color: #d9c76d;
  font-size: 20px;
  padding: 10%;
  margin: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

.contact__container {
  background-color: #403f3f;
  color: #d9c76d;
  font-size: 20px;
  padding: 10%;
  margin: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

.project-link {
  border: solid 2px #d9c76d;
  width: 20%;
  display: inline-block;
}