body {
  /* text-align: center; */
  background-color: #353535;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  background-color: #353535;
  /* margin-top: 0; */
  /* box-sizing: border-box; */
}

.nav__links-li {
  padding: 50px;
  display: inline;
}

.anchor {
  color: #d9c76d;
  text-decoration: none;
  font-size: 20px;
}

.anchor:hover {
  /* text-decoration: underline; */
  background-color: #414141;
}

.header__container {
  background-color: #403f3f;
  color: #d9c76d;
  font-size: 20px;
  /* background-repeat: no-repeat;
	background-size: cover; */
  padding: 10rem;
}

.about__container {
  background-color: #434343;
  color: #d9c76d;
  font-size: 20px;
  padding: 10rem;
}


.projects__container {
  background-color: #494949;
  color: #d9c76d;
  font-size: 20px;
  padding: 10rem;
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.contact__container {
  background-color: #616060;
  color: #d9c76d;
  font-size: 20px;
  padding: 10rem;
}

.project-link {
  border: solid 2px #d9c76d;
  width: 20%;
  display: inline-block;
}