body {
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
  background-color: #353535;
  margin-top: 0;
}

.nav__links-li {
  padding: 50px;
  display: inline;
}

.anchor {
  color: #d9c76d;
  text-decoration: none;
  font-size: 20px;
}

.anchor:hover {
  text-decoration: underline;
}
